img {
  width: 600px;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rebeccapurple;
}

h2 {
  background-color: #c8b24f;
  color: rebeccapurple;
  text-align: center;
}

.listing {
  font-size: 20px;
  color: red;
}

.divi {
  margin-bottom: 10px;
}